@model IEnumerable<DAL.Models.Domain.SocialMobilization.Training.CITrainingParticipation>
@using Microsoft.AspNetCore.Authorization
@using PermissionPro.PreDefined
@inject IAuthorizationService AuthorizationService
@* @using Constant.Constants *@


                                <div class="table-responsive">
                                    <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>                                              
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CICIG.Code)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CICIG.Name)
                                                </th>
                                                @if (true)//(AuthorizationService.AuthorizeAsync(User, Permissions.CICIG.Delete)).Result.Succeeded

                                                {
                                                    <th>
                                                        Action
                                                    </th>
                                                }                                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>                                                    
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CICIG.Code)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CICIG.Name)
                                                    </td>
                                                    @if (true)//(AuthorizationService.AuthorizeAsync(User, Permissions.CICIG.Delete)).Result.Succeeded
                                                    {
                                                        <td>

                                                            <a class="text-danger ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" asp-action="Delete" asp-route-id="@item.CITrainingParticipationId"> <i class="mdi mdi-trash-can font-size-18"></i>Delete</a>


                                                        </td>
                                                    }                                                    
                                                  
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
      
