@model IEnumerable<DAL.Models.Domain.SocialMobilization.Training.CITrainingMember>
@using Microsoft.AspNetCore.Authorization
@using PermissionPro.PreDefined
@inject IAuthorizationService AuthorizationService
@* @using Constant.Constants *@
@{
    if(Model.Count() > 0){
        <div style="margin:5px">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            S.No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.MemberCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.Designation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.BeneficiaryVerified.BeneficiaryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.BeneficiaryVerified.BeneficiaryFather)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.BeneficiaryVerified.CNIC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.BeneficiaryVerified.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIMember.BeneficiaryVerified.ProfilePicture)
                        </th>
                        @if (true)//AuthorizationService.AuthorizeAsync(User, Permissions.Administrator.Delete).Result.Succeeded
                        {
                            <th>Action</th>
                        }                        
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(counter = counter + 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIMember.MemberCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIMember.Designation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIMember.BeneficiaryVerified.BeneficiaryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIMember.BeneficiaryVerified.BeneficiaryFather)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIMember.BeneficiaryVerified.CNIC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIMember.BeneficiaryVerified.Mobile)
                            </td>
                            <td>
                                @if (item.CIMember.BeneficiaryVerified.ProfilePicture != null)
                                {   
                                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" 
                                    src="data:image/*;base64,@(Convert.ToBase64String(item.CIMember.BeneficiaryVerified.ProfilePicture))">
                                }
                                else
                                {
                                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="/assets/images/blep-v2.png">
                                }
                            </td>
                            @if (true)//AuthorizationService.AuthorizeAsync(User, Permissions.Administrator.Delete).Result.Succeeded
                            {
                                <td>
                                    <a class="text-danger ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" asp-action="Delete" asp-route-id="@item.CITrainingMemberId"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                                </td>
                            }                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
