@page
@model RegisterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@* @using Constant.Constants *@
@{
    ViewData["Title"] = "Register";
    ViewData["Title"] = "Register";
    ViewBag.pageTitle = "Management";
    ViewBag.Title = "User Management";
    ViewBag.pTitle = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@section PageScripts {
    <script src="~/js/pages-auth.js"></script>
}

@* 
<!-- owl.carousel css -->
<link rel="stylesheet" href="~/assets/libs/owl.carousel/assets/owl.carousel.min.css">

<link rel="stylesheet" href="~/assets/libs/owl.carousel/assets/owl.theme.default.min.css">
 *@
@{
    #region Comment
}
<!--
@*<h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@
    -->
    @{
        #endregion
    }


    @* ************** Content ************** *@
<div class="authentication-wrapper authentication-cover">
    <!-- Logo -->
    <a href="/" class="app-brand auth-cover-brand">
        <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
        <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
    </a>
    <!-- /Logo -->
    <div class="authentication-inner row m-0">

        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-8 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                <img src="~/img/illustrations/auth-register-illustration-light.png" alt="auth-register-cover" class="my-5 auth-illustration" data-app-light-img="illustrations/auth-register-illustration-light.png" data-app-dark-img="illustrations/auth-register-illustration-dark.png">

                <img src="~/img/illustrations/bg-shape-image-light.png" alt="auth-register-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
            </div>
        </div>
        <!-- /Left Text -->
        <!-- Register -->
        <div class="d-flex col-12 col-lg-4 align-items-center authentication-bg p-sm-12 p-6">
            <div class="w-px-400 mx-auto mt-12 pt-5">
                <h4 class="mb-1">Adventure starts here 🚀</h4>
                <p class="mb-6">Make your app management easy and fun!</p>

                @* <form id="formAuthentication" class="mb-6" action="~/" method="POST"> *@
                <form autocomplete="off" asp-route-returnUrl="/Users/Index" method="post" enctype="multipart/form-data">
                    @* <div class="mb-6">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" autofocus>
                    </div> *@
                    <div class="mb-6">
                        <label asp-for="Input.FirstName" class="form-label">UserName</label>
                        <input asp-for="Input.FirstName" type="text" class="form-control" id="username" placeholder="Enter your username" autofocus>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div> 
                    <div class="mb-6">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" autocomplete="off" class="form-control" placeholder="Enter last name"/>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-6">
                        <label for="useremail">Email</label>
                        @* <label asp-for="Input.Email" for="email" class="form-label">Email</label> *@
                        <input asp-for="Input.Email" type="email" class="form-control" id="useremail" placeholder="Enter your email" autofocus>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-6">
                        <div class="form-group">
                            <label asp-for="Input.DistrictName" class="control-label"></label>
                            <select asp-for="Input.DistrictName" class="form-control" asp-items="ViewBag.DistrictId"></select>
                        </div>
                    </div>

@*                     <div class="form-group">
                        <label for="userpassword">Password</label>
                        <input tabindex="4" type="password" autocomplete="off" class="form-control" asp-for="Input.Password" id="userpassword" placeholder="Enter password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div> *@

                    <div class="mb-6 form-password-toggle form-group">
                        <label for="userpassword">Password</label>
                        <div class="input-group input-group-merge">
                            @* <input tabindex="4" type="password"  class="form-control" asp-for="Input.Password" id="userpassword" placeholder="Enter password"> *@
                            <input asp-for="Input.Password" type="password" id="userpassword" class="form-control" autocomplete="off" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            @* <span asp-validation-for="Input.Password" class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span> *@
                        </div>
                    </div>

                   @*  <div class="form-group">
                        <label for="userpasswordc">Confirm Password</label>
                        <input tabindex="5" type="password" autocomplete="off" class="form-control" asp-for="Input.ConfirmPassword" id="userpasswordc" placeholder="Enter confirm password">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div> *@

                    <div class="mb-6 form-password-toggle form-group">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        @* <label asp-for="Input.ConfirmPassword">Confirm Password</label> *@
                        <div class="input-group input-group-merge">
                            @* <input tabindex="4" type="password"  class="form-control" asp-for="Input.Password" id="userpassword" placeholder="Enter password"> *@
                            <input asp-for="Input.ConfirmPassword" type="password" id="userpasswordc" class="form-control" autocomplete="off" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            @* <span asp-validation-for="Input.ConfirmPassword" class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span> *@
                        </div>
                    </div>

                    <div class="mb-6">
                        <label asp-for="Input.ProfilePicture" class="control-label"></label>
                        <input type="file" name="ProfilePicture" class="form-control" />
                        @* <input asp-for="Input.ProfilePicture" class="form-control" type="file" /> *@
                        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                    </div>

                    @*<div class="mb-6 mt-8">
                        <div class="form-check mb-8 ms-2">
                            <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                            <label class="form-check-label" for="terms-conditions">
                                I agree to
                                <a href="javascript:void(0);">privacy policy & terms</a>
                            </label>
                        </div>
                    </div> *@
                    <button class="btn btn-primary d-grid w-100">
                        Sign up
                    </button>
                </form>

                <p class="text-center">
                    <span>Already have an account?</span>
                    <a href="/Auth/LoginCover">
                        <span>Sign in instead</span>
                    </a>
                </p>

                <div class="divider my-6">
                    <div class="divider-text">or</div>
                </div>

                <div class="d-flex justify-content-center">
                    <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-facebook me-1_5">
                        <i class="tf-icons ti ti-brand-facebook-filled"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-twitter me-1_5">
                        <i class="tf-icons ti ti-brand-twitter-filled"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-github me-1_5">
                        <i class="tf-icons ti ti-brand-github-filled"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-google-plus">
                        <i class="tf-icons ti ti-brand-google-filled"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Register -->
    </div>
</div>




@{
    #region Comment2
}
    <!--
@* @if (true)
{
    <div class="checkout-tabs">
        <div class="row">
            <div class="col-lg-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" asp-action="Index" asp-controller="Users" aria-selected="true">
                        <i class="bx bxs-grid-alt check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">List of Users</p>
                    </a>
                    <a class="nav-link active" id="v-pills-privacy-tab" data-toggle="pill" href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy" aria-selected="false">
                        <i class="bx bx-list-plus d-block check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">Add New User</p>
                    </a>
                    <a class="nav-link" asp-action="Index" asp-controller="Roles">
                        <i class="bx bx-user-plus d-block check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">Role Management</p>
                    </a>
                   @* <a class="nav-link" id="v-pills-support-tab" data-toggle="pill" href="#v-pills-support" role="tab" aria-controls="v-pills-support" aria-selected="false">
                        <i class="bx bx-support d-block check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">Support</p>
                    </a>*@
                </div>
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4 class="mt-2 card-title">Add New User</h4>
                                        </div>
                                    </div>
                                </div>
                                <form autocomplete="off" asp-route-returnUrl="/Users/Index" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-4">
                                            @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">*@                                            
                                            <div class="form-group">
                                                <label asp-for="Input.FirstName"></label>
                                                <input tabindex="1" asp-for="Input.FirstName" autocomplete="off" class="form-control" placeholder="Enter first name" />
                                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="userpassword">Password</label>
                                                <input tabindex="4" type="password" autocomplete="off" class="form-control" asp-for="Input.Password" id="userpassword" placeholder="Enter password">
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>                                           
                                            <div class="mt-4">
                                                <button tabindex="6" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Register User</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Input.LastName"></label>
                                                <input asp-for="Input.LastName" autocomplete="off" class="form-control" placeholder="Enter last name" tabindex="2" />
                                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="userpasswordc">Confirm Password</label>
                                                <input tabindex="5" type="password" autocomplete="off" class="form-control" asp-for="Input.ConfirmPassword" id="userpasswordc" placeholder="Enter confirm password">
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.ProfilePicture" class="control-label"></label>
                                                <input type="file" name="ProfilePicture" class="form-control" />
                                                @* <input asp-for="Input.ProfilePicture" class="form-control" type="file" /> *@
                                                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                                            </div>
                                            <div>
                                                <p class="mb-0">By registering you agree to the IFRAP</p> <p><a href="#" class="text-primary">Terms of Use</a></p>
                                            </div>
                                        </div>
                                        <div class=" col-md-4">
                                            <div class="form-group">
                                                <label for="useremail">Email</label>
                                                <input tabindex="3" type="email" autocomplete="off" class="form-control" asp-for="Input.Email" id="useremail" placeholder="Enter email">
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.DistrictName" class="control-label"></label>
                                                <select asp-for="Input.DistrictName" class="form-control" asp-items="ViewBag.DistrictId"></select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="mt-5 text-center">
                                <div>
                                    <p class="mb-0">
                                        ©
                                        <script>document.write(new Date().getFullYear())</script> IFRAP. Crafted with <i class="mdi mdi-heart text-danger"></i> by MIS Section
                                    </p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-support" role="tabpanel" aria-labelledby="v-pills-support-tab">
                                <h4 class="card-title mb-5">Support</h4>

                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Where can I get some?</h5>
                                        <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental</p>
                                    </div>
                                </div>
                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Where does it come from?</h5>
                                        <p class="text-muted">Everyone realizes why a new common language would be desirable one could refuse to pay expensive translators.</p>
                                    </div>
                                </div>

                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Why do we use it?</h5>
                                        <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                    </div>
                                </div>
                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Where can I get some?</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>
                                    </div>
                                </div>

                                <div class="faq-box media">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                                        <p class="text-muted">New common language will be more simple and regular than the existing European languages. It will be as simple as occidental.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, page not found</h4>
                        @*<div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                            </div> THIS IS COMMENT CLOSE
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
 
*@
 
 -->
@{#endregion}