@model IEnumerable<DAL.Models.Domain.TechTrainingnamespace.TechTrainingMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechTraining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryVerified.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechTrainingId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TechTrainingMemberId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TechTrainingMemberId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TechTrainingMemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
